* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #ffffff;
}

/* Scroll Menu */
.scroll-samping{
    overflow-x: scroll;
    white-space: nowrap;
    /* Hide Scrollbar IE, Edge, Firefox */
    /* -ms-overflow-style: none; IE & Edge */
    /* scrollbar-width: none; Firefox */
}

/* .scroll-samping::-webkit-scrollbar{ */
    /* Hide Scrollbar Chrome, Safari, Opera */
    /* display: none; */
/* } */
/* END Scroll Menu */

.text-right {
    text-align: right;
}

.content-right {
    position: relative;
    right: 0;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    width: 70%;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

header nav {
    background-color: transparent;
    padding: 20px;
    border-radius: 0 0 50px 50px;
    transition: 0.5s;
}

header nav a {
    color: #ffffff;
    padding: 0px 20px;
}

header nav .menu-wrap {
    margin-top: 20px;
    font-size: 18px;
}

header nav .menu a{
    padding: 0px 10px;
    transition: 0.5s ease-in-out;
}

header nav .menu a:hover {
    color: #EB455F;
}

.header-scroll {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 2px 70px -40px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.header-scroll .menu a {
    color: #3A98B9;
    text-decoration: none;
}

.button-order {
    background-color: #27ba4e;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 20px 10px;
    transition: .25s;
    font-size: 15px;
}

.button-order:hover {
    outline: 4px solid #27ba4e;
    outline-offset: 4px;
}

.card {
    display: inline-block;
    margin: 10px 2px;
    width: 350px;
    border-radius: 20px 30px;
    border: none;
}

.card-title {
    height: 110px;
    background-color: #146C94;
    color: #ffffff;
    padding: 18px 15px 10px;
    position: relative;
}

.card-title .harga {
    display: inline-block;
    position: absolute;
    right: -5px;
    top: -15px;
    height: 30px;
    width: 170px;
    padding-top: 4px;
    border-radius: 0 50px 0 50px;
    background-color: #EB455F;
    font-weight: bold;
    text-align: center;
    outline: 3px dashed #f26b7f;
    outline-offset: 4px;
}

.featured {
    position: relative;

    /* The image used */
    background-image: url('../../img/parallax4.png');
    height: min-content;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-wrap {
    padding-top: 50px;
    position: relative;
    width: 50%;
    margin: auto;
}

.featured-wrap img {
    display: block;
    margin: auto;
    z-index: 99;
    position: relative;
}

.stage {
    position: relative;
    top: -120px;
    width: 80%;
    height: 130px;
    background: rgb(183, 183, 183);
    background: linear-gradient(0deg, rgb(183, 183, 183) 17%, rgb(225, 225, 225) 65%);
    margin: auto;
    border-radius: 50%;
    outline: 4px solid rgb(122, 122, 122);
    outline-offset: 5px;
}

.partner-wrap {
    margin-top: 45px;
    padding: 0 5px;
}

.pulse {
    animation: pulse-animation 0.5s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.431);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.pulse-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #d11833;
    outline: 3px solid #f26b7f;
    outline-offset: 3px;
    z-index: 99;
    cursor: pointer;
}

#smartKey {
    top: 240px;
    left: 565px;
}

#luggage {
    top: 250px;
    left: 365px;
}

#smartFrontRefuel {
    top: 270px;
    left: 565px;
}

#blueCore {
    top: 385px;
    left: 395px;
}

#seat {
    top: 220px;
    left: 465px;
}

#led {
    top: 120px;
    left: 625px;
}

#footstep {
    top: 350px;
    left: 370px;
}

#tire {
    top: 450px;
    left: 755px;
}

#speedo {
    top: 105px;
    left: 570px;
}

.popup {
    position: absolute;
    width: 250px;
    height: min-content;
    background-color: #101010db;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 38px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -23px rgba(0,0,0,0.75);
    color: #ffffff;
    font-size: 10px;
    z-index: 99;
}

.popup img {
    width: 100%;
    border-radius: 50px 50px 0 0;
}

.popup .description {
    padding: 10px 15px;
}

.popup .description p {
    text-justify: inter-word;
}

.popup .title {
    font-weight: bold;
    font-size: 15px;
}

.hide {
    display: none;
}

#smartKeyContent {
    top: 100px;
    left: 595px;
}

#luggageContent {
    top: 100px;
    left: 100px;
}

#smartFrontRefuelContent {
    top: 170px;
    left: 595px;
}

#blueCoreContent {
    top: 250px;
    left: 130px;
}

#seatContent {
    top: 10px;
    left: 200px;
}

#ledContent {
    top: 5px;
    left: 660px;
}

#footstepContent {
    top: 250px;
    left: 100px;
}

#tireContent {
    top: 330px;
    left: 790px;
}

#speedoContent {
    top: 10px;
    left: 600px;
}

.contact-widget {
    position: fixed;
    left: 0;
    top: 430px;
    height: 200px;
    text-align: center;
    z-index: 99;
}

.contact-widget a.contact {
    display: block;
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    width: 50px;
    text-decoration: none;
    transition: 0.2s ease;
}

.contact-widget a:hover {
    width: 180px;
    text-align: right;
    padding-top: 0;
    padding-right: 15px;
    padding-left: 5px;
    border-radius: 0 50px 50px 0;
}

.instagram {
    background-color: #e17ce1;
    border-radius: 0 20px 0 0;
}

.facebook {
    background-color: #6b8ae0;
}

.youtube {
    background-color: #ed7474;
}

.whatsapp {
    background-color: #73d98e;
    border-radius: 0 0 20px 0;
}

.instagram:hover {
    background-color: #e22fe2;
}

.instagram:hover::before {
    content: 'Instagram';
    font-size: 25px;
    color: #ffffff;
}

.facebook:hover {
    background-color: #2653ce;
}

.facebook:hover::before {
    content: 'Facebook';
    font-size: 25px;
    color: #ffffff;
}

.youtube:hover {
    background-color: #c42929;
}

.youtube:hover::before {
    content: 'Youtube';
    font-size: 25px;
    color: #ffffff;
}

.whatsapp:hover {
    background-color: #17aa3e;
}

.whatsapp:hover::before {
    content: 'Whatsapp';
    font-size: 25px;
    color: #ffffff;
}

.marketplace {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 99;
}

.marketplace span {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: #EB455F;
    color: #ffffff;
    border-radius: 20px;
    display: inline-block;
}

.marketplace img {
    width: 70px;
}

.marketplace a {
    display: block;
    width: 130px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    border-radius: 20px;
}

.tokopedia {
    background-color: #1ac848;
    padding: 5px 0;
    transition: 0.5s ease-in-out;
}

.tokopedia:hover {
    width: 180px;
}

.blibli {
    background-color: #208aed;
    padding: 30px 0;
    transition: 0.5s ease-in-out;
}

.blibli:hover {
    width: 180px;
}

.sales {
    padding: 50px 0;
    text-align: center;

    background-color: #ffffff;
}

.sales img {
    width: 250px;
}

.sales-wrap {
    position: relative;
}

.sales-wrap .nomor {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    background-color: #146C94;
    outline: 3px solid #19A7CE;
    outline-offset: 4px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px 50px 0 50px;
}

.sales .name {
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;
    background-color: #AFD3E2;
    width: 100px;
    height: 35px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: #146C94;
    border-radius: 0 0 20px 20px;
}

.sales a {
    text-decoration: none;
}

footer {
    background-color: #146C94;
    background-image: url("../../img/45-degree-fabric-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

    padding: 50px 0;
}

footer img {
    border-radius: 20px;
}

.credit {
    padding: 18px 8px 5px 8px;
    color: #ffffff;
    text-align: center;

    background-color: #000000;
    background-image: url("../../img/xv.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}