* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* Scroll Menu */
.scroll-samping{
    overflow-x: scroll;
    white-space: nowrap;
    /* Hide Scrollbar IE, Edge, Firefox */
    /* -ms-overflow-style: none; IE & Edge */
    /* scrollbar-width: none; Firefox */
}

/* .scroll-samping::-webkit-scrollbar{ */
    /* Hide Scrollbar Chrome, Safari, Opera */
    /* display: none; */
/* } */
/* END Scroll Menu */

.text-right {
    text-align: right;
}

.content-right {
    position: relative;
    right: 0;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    width: 70%;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

header nav {
    background-color: transparent;
    padding: 20px;
    border-radius: 50px 25px;
    transition: 0.2s;
}

header nav a {
    color: #ffffff;
    padding: 0px 20px;
}

header nav .menu-wrap {
    margin-top: 20px;
    font-size: 18px;
}

header nav .menu a{
    padding: 0px 10px;
}

header nav .menu a:hover {
    color: rgb(16, 16, 16);
    border-radius: 20px 30px;
    padding: 20px;
}

.button-order {
    background-color: #27ba4e;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 20px 10px;
    transition: .25s;
    font-size: 15px;
}

.button-order:hover {
    outline: 4px solid #27ba4e;
    outline-offset: 4px;
}

.card {
    display: inline-block;
    margin: 10px 2px;
    width: 350px;
    border-radius: 20px 30px;
    border: none;
}

.featured {
    position: relative;
}

.featured-wrap {
    padding-top: 50px;
    position: relative;
    width: 50%;
    margin: auto;
}

.featured-wrap img {
    display: block;
    margin: auto;
    z-index: 99;
    position: relative;
}

.stage {
    position: relative;
    top: -120px;
    width: 80%;
    height: 130px;
    background: rgb(190,160,140);
    background: linear-gradient(0deg, rgba(190,160,140,1) 17%, rgba(241,219,201,1) 65%);
    margin: auto;
    border-radius: 50%;
    outline: 4px solid rgba(190,160,140,1);
    outline-offset: 5px;
}

.partner-wrap {
    margin-top: 45px;
    padding: 0 5px;
}

.credit {
    text-align: center;
}

.contact-widget {
    position: fixed;
    left: 0;
    top: 430px;
    height: 200px;
    text-align: center;
}

.contact-widget a.contact {
    display: block;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    width: 50px;
    transition: 0.2s ease;
}

.instagram {
    background-color: #e17ce1;
    border-radius: 0 20px 0 0;
}

.facebook {
    background-color: #6b8ae0;
}

.youtube {
    background-color: #ed7474;
}

.whatsapp {
    background-color: #73d98e;
    border-radius: 0 0 20px 0;
}

.instagram:hover {
    background-color: #e22fe2;
}

.facebook:hover {
    background-color: #2653ce;
}

.youtube:hover {
    background-color: #c42929;
}

.whatsapp:hover {
    background-color: #1ac848;
}

.marketplace {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 99;
}

.marketplace span {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

.marketplace img {
    width: 70px;
}

.marketplace a {
    display: block;
    width: 130px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    border-radius: 20px;
}

.tokopedia {
    background-color: #1ac848;
}

.blibli {
    background-color: #208aed;
    padding: 30px 0;
}