* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* Scroll Menu */
.scroll-samping{
    overflow-x: scroll;
    white-space: nowrap;
    /* Hide Scrollbar IE, Edge, Firefox */
    /* -ms-overflow-style: none; IE & Edge */
    /* scrollbar-width: none; Firefox */
}

/* .scroll-samping::-webkit-scrollbar{ */
    /* Hide Scrollbar Chrome, Safari, Opera */
    /* display: none; */
/* } */
/* END Scroll Menu */

.text-right {
    text-align: right;
}

.content-right {
    position: relative;
    right: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

header nav {
    background-color: transparent;
    padding: 20px;
    transition: 0.2s;
}

header nav a {
    color: #ffffff;
    padding: 0px 20px;
}

header nav .menu-wrap {
    margin-top: 20px;
    font-size: 20px;
}

header nav .menu a{
    padding: 0px 10px;
}

header nav .menu a:hover {
    background-color: #19A7CE;
    color: aliceblue;
    border-radius: 20px 30px;
    padding: 20px;
}

.button-order {
    background-color: #27ba4e;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px 30px;
}

.card {
    display: inline-block;
    margin: 10px;
    width: 350px;
    border-radius: 20px 30px;
    border: none;
}