<div class="contact-widget fadeInKiri">
    <a href="" class="contact instagram">
        <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
    </a>
    <a href="" class="contact facebook">
        <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
    </a>
    <a href="" class="contact youtube">
        <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
    </a>
    <a href="" class="contact whatsapp">
        <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
    </a>
</div>