<div class="contact-widget fadeInKiri">
    <a href="" class="contact instagram">
        <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
    </a>
    <a href="" class="contact facebook">
        <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
    </a>
    <a href="" class="contact youtube">
        <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
    </a>
    <a href="" class="contact whatsapp">
        <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
    </a>
</div>

<div class="contact-widget-mobile display-widget-mobile fadeInKanan" id="contact-widget-mobile" onclick="showBuble()" onblur="hideBuble()">
    <i class="fa-brands fa-whatsapp fa-shake" style="color: #ffffff;"></i>
</div>

<div class="sales-buble fadeInBawah hide" id="sales1">
    <a href="">
        <img src="img/rini.png" class="img-fluid mx-auto d-block rounded-circle">
    </a>
</div>
<div class="sales-buble fadeInBawah hide" id="sales2">
    <a href="">
        <img src="img/diah.png" class="img-fluid mx-auto d-block rounded-circle">
    </a>
</div>
<div class="sales-buble fadeInBawah hide" id="sales3">
    <a href="">
        <img src="img/bayu.png" class="img-fluid mx-auto d-block rounded-circle">
    </a>
</div>