<div class="contact-widget fadeInKiri">
    <a href="https://www.instagram.com/yamaha_bisma_mandiri/" class="contact instagram" target="_blank">
        <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
    </a>
    <a href="https://web.facebook.com/Bisma.Mandiri" class="contact facebook" target="_blank">
        <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
    </a>
    <a href="https://www.youtube.com/@bismamandiri1632" class="contact youtube" target="_blank">
        <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
    </a>
    <a href="#sales" class="contact whatsapp">
        <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
    </a>
</div>

<div class="contact-widget-mobile fadeInKanan display-widget-mobile">
    <div class="whatsapp-mobile" id="contact-widget-mobile" onclick="showBuble()">
        <i class="fa-brands fa-whatsapp fa-shake" style="color: #ffffff;"></i>
    </div>

    <div class="instagram-mobile">
        <a href="https://www.instagram.com/yamaha_bisma_mandiri/" target="_blank">
            <i class="fa-brands fa-instagram fa-shake" style="color: #ffffff;"></i>
        </a>
    </div>

    <div class="facebook-mobile">
        <a href="https://web.facebook.com/Bisma.Mandiri" target="_blank">
            <i class="fa-brands fa-facebook fa-shake" style="color: #ffffff;"></i>
        </a>
    </div>

    <div class="youtube-mobile">
        <a href="https://www.youtube.com/@bismamandiri1632" target="_blank">
            <i class="fa-brands fa-youtube fa-shake" style="color: #ffffff;"></i>
        </a>
    </div>
</div>

<div class="sales-buble-wrap">
    <div class="sales-buble fadeInBawah hide">
        <a href="https://wa.me/628999309098?text=Hai%20DIAH,%20saya%20mau%20tanya%20promo%20motor%20yamaha%20(https://yamahabismamandiri.com)" target="_blank">
            <img src="img/diah.png" class="img-fluid mx-auto d-block rounded-circle">
        </a>
    </div>
    <div class="sales-buble fadeInBawah hide">
        <a href="https://wa.me/6285739531894?text=Hai%20BAYU,%20saya%20mau%20tanya%20promo%20motor%20yamaha%20(https://yamahabismamandiri.com)" target="_blank">
            <img src="img/bayu.png" class="img-fluid mx-auto d-block rounded-circle">
        </a>
    </div>
    <div class="sales-buble fadeInBawah hide">
        <a href="https://wa.me/6285857458292?text=Hai%20RINI,%20saya%20mau%20tanya%20promo%20motor%20yamaha%20(https://yamahabismamandiri.com)" target="_blank">
            <img src="img/rini.png" class="img-fluid mx-auto d-block rounded-circle">
        </a>
    </div>
</div>