<div class="featured">
    <div class="featured-wrap">
        <img src="img/motor/filano-lux-white-pearl.png" class="img-fluid">
        <div class="stage"></div>
        <div class="pulse-btn pulse" id="smartKey"></div>
        <div class="pulse-btn pulse" id="luggage"></div>
        <div class="pulse-btn pulse" id="smartFrontRefuel"></div>
        <div class="pulse-btn pulse" id="blueCore"></div>
        <div class="pulse-btn pulse" id="seat"></div>
        <div class="pulse-btn pulse" id="led"></div>
        <div class="pulse-btn pulse" id="footstep"></div>
        <div class="pulse-btn pulse" id="tire"></div>
        <div class="pulse-btn pulse" id="speedo"></div>
    </div>
</div>