<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1972.0513380854504!2d115.19050659671109!3d-8.681785418667715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd240cd63d9f987%3A0xb0ad2fbe9ef1115d!2sYamaha%20Bisma%20Mandiri%20%2F%20Yamaha%20Bisma%20Teuku%20Umar%20Barat%20(%20Malboro%20)!5e0!3m2!1sen!2sid!4v1683510360335!5m2!1sen!2sid" width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="col-sm-12 col-md-6">
                    <div class="partner-wrap">
                        <img src="img/baf.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="credit">
    
</div>