<header>
    <!-- Desktop Nav -->
    <div class="info-nav text-right">
        <div class="container">
            <a href="https://yamahabismagroup.com/pilih-dealer/">yamaha_bisma_mandiri</a>
            <a href="https://yamahabismagroup.com">0361 46666</a>
        </div>
    </div>
    <nav>
        <div class="container">
            <div class="row text-center">
                <div class="col-3">
                    <img src="img/logo.png" class="img-fluid">
                </div>
                <div class="col-6 menu-wrap menu">
                    <a href="https://yamahabismagroup.com/pilih-dealer/">Home</a>
                    <a href="https://yamahabismagroup.com">Product</a>
                    <a href="index.php">Simulasi Kredit</a>
                    <a href="index.php">Contact</a>
                </div>
                <div class="col-3 menu-wrap">
                    <a href="#" class="button-order"><i class="fa-brands fa-whatsapp fa-shake"></i> Order Now!</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END Desktop Nav -->
</header>