<header class="header-desktop fadeIn">
    <!-- Desktop Nav -->
    <nav id="navigation">
        <div class="container">
            <div class="row text-center">
                <div class="col-2 logo">
                    <img src="img/logo.png" class="img-fluid">
                </div>
                <div class="col-8 menu-wrap menu">
                    <a class="menulist" href="index.php">Home</a>
                    <a class="menulist" href="#product">Product</a>
                    <a class="menulist" href="https://sibisma.yamahabismagroup.com/public/simulasi-kredit" target="_blank">Simulasi Kredit</a>
                    <a class="menulist" href="#sales">Contact</a>
                </div>
                <div class="col-2 menu-wrap">
                    <a href="#sales" class="button-order"><i class="fa-brands fa-whatsapp fa-shake"></i> Order Now!</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END Desktop Nav -->
</header>

<div class="header-mobile">
    <div id="mobileHeader">
        <!-- Mobile Header -->
        <img src="img/logo-text.png" class="img-fluid">
        <!-- END Mobile Header -->
    </div>
</div>

<div class="menu-mobile fadeInBawah" id="navigation-mobile">
    <div class="row">
        <div class="col-3">
            <a class="menulist" href="https://yamahabismagroup.com/pilih-dealer/">
                <i class="fa-sharp fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </div>
        <div class="col-3">
            <a class="menulist" href="https://yamahabismagroup.com">
                <i class="fa-sharp fa-solid fa-motorcycle"></i>
                <span>Product</span>
            </a>
        </div>
        <div class="col-3">
            <a class="menulist" href="index.php">
                <i class="fa-sharp fa-solid fa-calculator"></i>
                <span>Simulasi</span>
            </a>
        </div>
        <div class="col-3">
            <a class="menulist" href="index.php">
                <i class="fa-sharp fa-solid fa-address-book"></i>
                <span>Contact</span>
            </a>
        </div>
    </div>
</div>