<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/icon.png" type="image/gif" sizes="16x16">
<title>Yamaha Bisma Mandiri</title>
<link rel="stylesheet" href="asset/css/bootstrap.min.css">
<link rel="stylesheet" href="asset/css/main.css">
<link rel="stylesheet" href="asset/css/responsive.css">
<script src="https://kit.fontawesome.com/78adb693c3.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="asset/owl/assets/owl.carousel.min.css">
<link rel="stylesheet" href="asset/owl/assets/owl.theme.default.min.css">