<div class="marketplace fadeInKanan marketplace-desktop">
    <span>Kami ada di</span>
    <a href="#" class="tokopedia">
        <img src="img/tokopedia.png" class="img-fluid"> Tokopedia
    </a>
    <a href="#" class="blibli">
        <img src="img/blibli2.png" class="img-fluid">
    </a>
</div>

<div class="tokopedia-mobile marketplace-mobile fadeInKiri">
    <a href="#">
        <img src="img/tokopedia.png" class="img-fluid">
        <span>Tokped</span>
    </a>
</div>

<div class="blibli-mobile marketplace-mobile fadeInKiri">
    <a href="#">
        <img src="img/blibli-white.png" class="img-fluid">
        <span>Blibli</span>
    </a>
</div>