<div class="marketplace fadeInKanan marketplace-desktop">
    <span>Kami ada di</span>
    <a href="https://www.tokopedia.com/yamahabisma" class="tokopedia" target="_blank">
        <img src="img/tokopedia.png" class="img-fluid"> Tokopedia
    </a>
    <a href="https://blibli.app.link/wNBZOZ3vgAb" class="blibli" target="_blank">
        <img src="img/blibli2.png" class="img-fluid">
    </a>
</div>

<div class="tokopedia-mobile marketplace-mobile fadeInKiri">
    <a href="https://www.tokopedia.com/yamahabisma" target="_blank">
        <img src="img/tokopedia.png" class="img-fluid">
        <span>Tokped</span>
    </a>
</div>

<div class="blibli-mobile marketplace-mobile fadeInKiri">
    <a href="https://blibli.app.link/wNBZOZ3vgAb" target="_blank">
        <img src="img/blibli-white.png" class="img-fluid">
        <span>Blibli</span>
    </a>
</div>