<div class="product-list" id="product">
    <div class="container">
        <div class="owl-carousel">
            <div class="card">
                <div class="card-content">
                    <img src="img/product-profile.png" class="img-fluid">
                </div>
                <div class="card-title">
                    <span class="harga">
                        Rp. 27,100,000
                    </span>
                    <span>
                        Freego 125
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="img/product-profile.png" class="img-fluid">
                </div>
                <div class="card-title">
                    <span class="harga">
                        Rp. 27,100,000
                    </span>
                    <span>
                        Freego 125
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="img/product-profile.png" class="img-fluid">
                </div>
                <div class="card-title">
                    <span class="harga">
                        Rp. 27,100,000
                    </span>
                    <span>
                        Freego 125
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="img/product-profile.png" class="img-fluid">
                </div>
                <div class="card-title">
                    <span class="harga">
                        Rp. 27,100,000
                    </span>
                    <span>
                        Freego 125
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="img/product-profile.png" class="img-fluid">
                </div>
                <div class="card-title">
                    <span class="harga">
                        Rp. 27,100,000
                    </span>
                    <span>
                        Freego 125
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>