<div class="sales" id="sales">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="" class="">
                    <div class="sales-wrap">
                        <img src="img/diah.png" class="img-fluid mx-auto d-block fadeInKiri">
                        <span class="nomor fadeIn"><i class="fa-sharp fa-solid fa-phone fa-shake" style="color: #ffffff;"></i>
                            0852-2564-1112
                        </span>
                    </div>
                    <div class="name fadeIn">
                        Diah
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="" class="fadeIn">
                    <div class="sales-wrap">
                        <img src="img/rini.png" class="img-fluid mx-auto d-block fadeInKiri">
                        <span class="nomor fadeIn"><i class="fa-sharp fa-solid fa-phone fa-shake" style="color: #ffffff;"></i>
                            0852-2564-1112
                        </span>
                    </div>
                    <div class="name fadeIn">
                        Rini
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="" class="fadeInKanan">
                    <div class="sales-wrap">
                        <img src="img/bayu.png" class="img-fluid mx-auto d-block fadeInKiri">
                        <span class="nomor fadeIn"><i class="fa-sharp fa-solid fa-phone fa-shake" style="color: #ffffff;"></i>
                            0852-2564-1112
                        </span>
                    </div>
                    <div class="name fadeIn">
                        Bayu
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>